name: test

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: aquaproj/aqua-installer@v0.7.0
      with:
        aqua_version: v1.0.0
    - uses: ./
      with:
        working_directory: tests
        github_comment: true
