---
name: Release (workflow_call)
on:
  workflow_call:
    inputs:
      pr:
        description: "Pull Request Number"
        required: false
        type: string
      version:
        description: Version
        required: true
        type: string
      is_comment:
        description: If the comment is posted
        required: false
        default: false
        type: boolean
jobs:
  create-pr-branch:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: gh pr checkout "$PR"
        if: inputs.pr != ''
        env:
          GITHUB_TOKEN: ${{github.token}}
          PR: ${{inputs.pr}}
      - run: npm ci
        working-directory: js
      - run: npm run build
        working-directory: js

      - uses: suzuki-shunsuke/release-js-action@7586139c29abe68e2bc84395ac4300f20112b764 # v0.1.8
        with:
          version: ${{inputs.version}}
          is_comment: ${{inputs.is_comment}}
